@import '$lib/variables.scss';
// @import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');

@font-face {
	font-family: 'Oxanium';
	src: url('/fonts/oxanium.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/opensans.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('/fonts/opensans_italic.ttf') format('truetype');
}

:root {
	font-family: 'Oxanium', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: $primary-color;
}

body::before {
	content: '';
	color: $text-color-1;
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(50% 50% at 50% 50%, $pure-white 0%, rgba(255, 255, 255, 0) 100%);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: 400;
	color: $text-color-2;
}

p {
	font-family: 'OpenSans', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 1.25px;
	color: $text-color-2;
}

a {
	color: $accent-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: $text-color-1;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

hr {
	color: $secondary-color;
	width: 95vw;
}

// --- Scrollbar ---

@mixin custom-scrollbar(
	$size: 16px,
	$foreground-color: $accent-color,
	$background-color: $secondary-color
) {
	&::-webkit-scrollbar {
		width: $size;
		height: $size;
	}
	&::-webkit-scrollbar-thumb {
		background: linear-gradient(90deg, #5a2412, #5a2412 1px, #ff3e00 0, #ff3e00);
		border-radius: 16px;
	}
	&::-webkit-scrollbar-track {
		background: $background-color;
	}

	scrollbar-color: $foreground-color $background-color;
	scrollbar-width: $size;
}

html {
	@include custom-scrollbar;
}
